.content.container
    include canvas.pug
    include controls.pug
script.
    window.addEventListener("load",function(event) {
        const canvasId = 'webgl-canvas';
        const canvas = document.getElementById(canvasId);
        const app = new TopicMapApp();
        app.initialize(canvas);
    });
