footer#footer.text-center
script.
    window.addEventListener("load",function(event) {
        const element = document.createElement('div');
        element.innerHTML =
            'Last refreshed: ' + new Date().toLocaleString();
        document.getElementById('footer').appendChild(element);
    });
